<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="name">name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="name">
  <br/>
  <label for="question"> Enter question</label>
  <input type="text" th:field="*{question}" id="question" placeholder="question">
  <br/>
  <br/>
  <label for="email"> Enter email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="email">
  <br/>
  <input type="submit" value="Update User">
</form>
</body>
</html>